=begin
#Sematext Cloud API

#API Explorer provides access and documentation for Sematext REST API. The REST API requires the API Key to be sent as part of `Authorization` header. E.g.: `Authorization : apiKey e5f18450-205a-48eb-8589-7d49edaea813`.

OpenAPI spec version: v3

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.12

=end

require 'uri'

module SematextCloud
  class AppsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get all App types supported for the account identified with apiKey
    # @param [Hash] opts the optional parameters
    # @return [GenericApiResponse]
    def get_app_types_using_get(opts = {})
      data, _status_code, _headers = get_app_types_using_get_with_http_info(opts)
      data
    end

    # Get all App types supported for the account identified with apiKey
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericApiResponse, Fixnum, Hash)>] GenericApiResponse data, response status code and response headers
    def get_app_types_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppsApi.get_app_types_using_get ...'
      end
      # resource path
      local_var_path = '/users-web/api/v3/apps/types'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GenericApiResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppsApi#get_app_types_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Gets defails for one particular App
    # @param any_state_app_id anyStateAppId
    # @param [Hash] opts the optional parameters
    # @return [GenericApiResponse]
    def get_using_get(any_state_app_id, opts = {})
      data, _status_code, _headers = get_using_get_with_http_info(any_state_app_id, opts)
      data
    end

    # Gets defails for one particular App
    # @param any_state_app_id anyStateAppId
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericApiResponse, Fixnum, Hash)>] GenericApiResponse data, response status code and response headers
    def get_using_get_with_http_info(any_state_app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppsApi.get_using_get ...'
      end
      # verify the required parameter 'any_state_app_id' is set
      if @api_client.config.client_side_validation && any_state_app_id.nil?
        fail ArgumentError, "Missing the required parameter 'any_state_app_id' when calling AppsApi.get_using_get"
      end
      # resource path
      local_var_path = '/users-web/api/v3/apps/{anyStateAppId}'.sub('{' + 'anyStateAppId' + '}', any_state_app_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GenericApiResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppsApi#get_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Invite guests to an app
    # @param invitation For &#x60;app&#x60; and &#x60;apps&#x60; fields only &#x60;id&#x60; needs to be populated.Other fields can be left empty or with default values
    # @param [Hash] opts the optional parameters
    # @return [GenericApiResponse]
    def invite_app_guests_using_post(invitation, opts = {})
      data, _status_code, _headers = invite_app_guests_using_post_with_http_info(invitation, opts)
      data
    end

    # Invite guests to an app
    # @param invitation For &#x60;app&#x60; and &#x60;apps&#x60; fields only &#x60;id&#x60; needs to be populated.Other fields can be left empty or with default values
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericApiResponse, Fixnum, Hash)>] GenericApiResponse data, response status code and response headers
    def invite_app_guests_using_post_with_http_info(invitation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppsApi.invite_app_guests_using_post ...'
      end
      # verify the required parameter 'invitation' is set
      if @api_client.config.client_side_validation && invitation.nil?
        fail ArgumentError, "Missing the required parameter 'invitation' when calling AppsApi.invite_app_guests_using_post"
      end
      # resource path
      local_var_path = '/users-web/api/v3/apps/guests'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(invitation)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GenericApiResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppsApi#invite_app_guests_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get all users of apps accessible to this account
    # @param [Hash] opts the optional parameters
    # @return [GenericApiResponse]
    def list_apps_users_using_get(opts = {})
      data, _status_code, _headers = list_apps_users_using_get_with_http_info(opts)
      data
    end

    # Get all users of apps accessible to this account
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericApiResponse, Fixnum, Hash)>] GenericApiResponse data, response status code and response headers
    def list_apps_users_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppsApi.list_apps_users_using_get ...'
      end
      # resource path
      local_var_path = '/users-web/api/v3/apps/users'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GenericApiResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppsApi#list_apps_users_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get all apps accessible by account identified with apiKey
    # @param [Hash] opts the optional parameters
    # @return [GenericApiResponse]
    def list_using_get(opts = {})
      data, _status_code, _headers = list_using_get_with_http_info(opts)
      data
    end

    # Get all apps accessible by account identified with apiKey
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericApiResponse, Fixnum, Hash)>] GenericApiResponse data, response status code and response headers
    def list_using_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppsApi.list_using_get ...'
      end
      # resource path
      local_var_path = '/users-web/api/v3/apps'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GenericApiResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppsApi#list_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update description of the app
    # App can be in any state
    # @param any_state_app_id App Id
    # @param [Hash] opts the optional parameters
    # @option opts [AppDescription] :update_details Update Details
    # @return [GenericApiResponse]
    def update_description_using_put(any_state_app_id, opts = {})
      data, _status_code, _headers = update_description_using_put_with_http_info(any_state_app_id, opts)
      data
    end

    # Update description of the app
    # App can be in any state
    # @param any_state_app_id App Id
    # @param [Hash] opts the optional parameters
    # @option opts [AppDescription] :update_details Update Details
    # @return [Array<(GenericApiResponse, Fixnum, Hash)>] GenericApiResponse data, response status code and response headers
    def update_description_using_put_with_http_info(any_state_app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppsApi.update_description_using_put ...'
      end
      # verify the required parameter 'any_state_app_id' is set
      if @api_client.config.client_side_validation && any_state_app_id.nil?
        fail ArgumentError, "Missing the required parameter 'any_state_app_id' when calling AppsApi.update_description_using_put"
      end
      # resource path
      local_var_path = '/users-web/api/v3/apps/{anyStateAppId}/description'.sub('{' + 'anyStateAppId' + '}', any_state_app_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'update_details'])
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GenericApiResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppsApi#update_description_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update app
    # App can be in any state
    # @param dto dto
    # @param any_state_app_id App Id
    # @param [Hash] opts the optional parameters
    # @return [GenericApiResponse]
    def update_using_put1(dto, any_state_app_id, opts = {})
      data, _status_code, _headers = update_using_put1_with_http_info(dto, any_state_app_id, opts)
      data
    end

    # Update app
    # App can be in any state
    # @param dto dto
    # @param any_state_app_id App Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericApiResponse, Fixnum, Hash)>] GenericApiResponse data, response status code and response headers
    def update_using_put1_with_http_info(dto, any_state_app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppsApi.update_using_put1 ...'
      end
      # verify the required parameter 'dto' is set
      if @api_client.config.client_side_validation && dto.nil?
        fail ArgumentError, "Missing the required parameter 'dto' when calling AppsApi.update_using_put1"
      end
      # verify the required parameter 'any_state_app_id' is set
      if @api_client.config.client_side_validation && any_state_app_id.nil?
        fail ArgumentError, "Missing the required parameter 'any_state_app_id' when calling AppsApi.update_using_put1"
      end
      # resource path
      local_var_path = '/users-web/api/v3/apps/{anyStateAppId}'.sub('{' + 'anyStateAppId' + '}', any_state_app_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(dto)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GenericApiResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppsApi#update_using_put1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
