=begin
#Sematext Cloud API

#API Explorer provides access and documentation for Sematext REST API. The REST API requires the API Key to be sent as part of `Authorization` header. E.g.: `Authorization : apiKey e5f18450-205a-48eb-8589-7d49edaea813`.

OpenAPI spec version: v3

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.12

=end

require 'uri'

module SematextCloud
  class MonitoringAppApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Monitoring App
    # @param application_details Details of the application to be created
    # @param [Hash] opts the optional parameters
    # @return [GenericApiResponse]
    def create_spm_application1(application_details, opts = {})
      data, _status_code, _headers = create_spm_application1_with_http_info(application_details, opts)
      data
    end

    # Create Monitoring App
    # @param application_details Details of the application to be created
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericApiResponse, Fixnum, Hash)>] GenericApiResponse data, response status code and response headers
    def create_spm_application1_with_http_info(application_details, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringAppApi.create_spm_application1 ...'
      end
      # verify the required parameter 'application_details' is set
      if @api_client.config.client_side_validation && application_details.nil?
        fail ArgumentError, "Missing the required parameter 'application_details' when calling MonitoringAppApi.create_spm_application1"
      end
      # resource path
      local_var_path = '/spm-reports/api/v3/apps'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(application_details)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GenericApiResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringAppApi#create_spm_application1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
