=begin
#Sematext Cloud API

#API Explorer provides access and documentation for Sematext REST API. The REST API requires the API Key to be sent as part of `Authorization` header. E.g.: `Authorization : apiKey e5f18450-205a-48eb-8589-7d49edaea813`.

OpenAPI spec version: v3

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.12

=end

require 'uri'

module stcloud
  class AlertsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create alert rule
    # @param dto dto
    # @param [Hash] opts the optional parameters
    # @return [GenericApiResponse]
    def create_alert_using_post(dto, opts = {})
      data, _status_code, _headers = create_alert_using_post_with_http_info(dto, opts)
      data
    end

    # Create alert rule
    # @param dto dto
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericApiResponse, Fixnum, Hash)>] GenericApiResponse data, response status code and response headers
    def create_alert_using_post_with_http_info(dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsApi.create_alert_using_post ...'
      end
      # verify the required parameter 'dto' is set
      if @api_client.config.client_side_validation && dto.nil?
        fail ArgumentError, "Missing the required parameter 'dto' when calling AlertsApi.create_alert_using_post"
      end
      # resource path
      local_var_path = '/users-web/api/v3/alerts'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(dto)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GenericApiResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsApi#create_alert_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete alert rule
    # @param updateable_alert_id updateableAlertId
    # @param [Hash] opts the optional parameters
    # @return [GenericApiResponse]
    def delete_alert_rule_using_delete(updateable_alert_id, opts = {})
      data, _status_code, _headers = delete_alert_rule_using_delete_with_http_info(updateable_alert_id, opts)
      data
    end

    # Delete alert rule
    # @param updateable_alert_id updateableAlertId
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericApiResponse, Fixnum, Hash)>] GenericApiResponse data, response status code and response headers
    def delete_alert_rule_using_delete_with_http_info(updateable_alert_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsApi.delete_alert_rule_using_delete ...'
      end
      # verify the required parameter 'updateable_alert_id' is set
      if @api_client.config.client_side_validation && updateable_alert_id.nil?
        fail ArgumentError, "Missing the required parameter 'updateable_alert_id' when calling AlertsApi.delete_alert_rule_using_delete"
      end
      # resource path
      local_var_path = '/users-web/api/v3/alerts/{updateableAlertId}'.sub('{' + 'updateableAlertId' + '}', updateable_alert_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GenericApiResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsApi#delete_alert_rule_using_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Disable alert rule
    # @param updateable_alert_id updateableAlertId
    # @param [Hash] opts the optional parameters
    # @return [GenericApiResponse]
    def disable_alert_rule_using_put(updateable_alert_id, opts = {})
      data, _status_code, _headers = disable_alert_rule_using_put_with_http_info(updateable_alert_id, opts)
      data
    end

    # Disable alert rule
    # @param updateable_alert_id updateableAlertId
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericApiResponse, Fixnum, Hash)>] GenericApiResponse data, response status code and response headers
    def disable_alert_rule_using_put_with_http_info(updateable_alert_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsApi.disable_alert_rule_using_put ...'
      end
      # verify the required parameter 'updateable_alert_id' is set
      if @api_client.config.client_side_validation && updateable_alert_id.nil?
        fail ArgumentError, "Missing the required parameter 'updateable_alert_id' when calling AlertsApi.disable_alert_rule_using_put"
      end
      # resource path
      local_var_path = '/users-web/api/v3/alerts/{updateableAlertId}/disable'.sub('{' + 'updateableAlertId' + '}', updateable_alert_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GenericApiResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsApi#disable_alert_rule_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Enable alert rule
    # @param updateable_alert_id updateableAlertId
    # @param [Hash] opts the optional parameters
    # @return [GenericApiResponse]
    def enable_alert_rule_using_put(updateable_alert_id, opts = {})
      data, _status_code, _headers = enable_alert_rule_using_put_with_http_info(updateable_alert_id, opts)
      data
    end

    # Enable alert rule
    # @param updateable_alert_id updateableAlertId
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericApiResponse, Fixnum, Hash)>] GenericApiResponse data, response status code and response headers
    def enable_alert_rule_using_put_with_http_info(updateable_alert_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsApi.enable_alert_rule_using_put ...'
      end
      # verify the required parameter 'updateable_alert_id' is set
      if @api_client.config.client_side_validation && updateable_alert_id.nil?
        fail ArgumentError, "Missing the required parameter 'updateable_alert_id' when calling AlertsApi.enable_alert_rule_using_put"
      end
      # resource path
      local_var_path = '/users-web/api/v3/alerts/{updateableAlertId}/enable'.sub('{' + 'updateableAlertId' + '}', updateable_alert_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GenericApiResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsApi#enable_alert_rule_using_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get alert rules for an app
    # @param app_id appId
    # @param [Hash] opts the optional parameters
    # @return [GenericApiResponse]
    def get_alert_rules_for_app_using_get(app_id, opts = {})
      data, _status_code, _headers = get_alert_rules_for_app_using_get_with_http_info(app_id, opts)
      data
    end

    # Get alert rules for an app
    # @param app_id appId
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericApiResponse, Fixnum, Hash)>] GenericApiResponse data, response status code and response headers
    def get_alert_rules_for_app_using_get_with_http_info(app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsApi.get_alert_rules_for_app_using_get ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling AlertsApi.get_alert_rules_for_app_using_get"
      end
      # resource path
      local_var_path = '/users-web/api/v3/apps/{appId}/alerts'.sub('{' + 'appId' + '}', app_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GenericApiResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsApi#get_alert_rules_for_app_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
