=begin
#Sematext Cloud API

#API Explorer provides access and documentation for Sematext REST API. The REST API requires the API Key to be sent as part of `Authorization` header. E.g.: `Authorization : apiKey e5f18450-205a-48eb-8589-7d49edaea813`.

OpenAPI spec version: v3

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.12

=end

require 'uri'

module stcloud
  class TagApiControllerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Gets tag names for the given application identifiers appearing in the given time frame.
    # @param app_ids appIds
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :from from
    # @option opts [Integer] :to to
    # @option opts [BOOLEAN] :metrics metrics (default to true)
    # @option opts [BOOLEAN] :logs logs (default to true)
    # @option opts [BOOLEAN] :events events (default to false)
    # @option opts [BOOLEAN] :rum rum (default to true)
    # @return [Object]
    def get_tag_names_using_get(app_ids, opts = {})
      data, _status_code, _headers = get_tag_names_using_get_with_http_info(app_ids, opts)
      data
    end

    # Gets tag names for the given application identifiers appearing in the given time frame.
    # @param app_ids appIds
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :from from
    # @option opts [Integer] :to to
    # @option opts [BOOLEAN] :metrics metrics
    # @option opts [BOOLEAN] :logs logs
    # @option opts [BOOLEAN] :events events
    # @option opts [BOOLEAN] :rum rum
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def get_tag_names_using_get_with_http_info(app_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagApiControllerApi.get_tag_names_using_get ...'
      end
      # verify the required parameter 'app_ids' is set
      if @api_client.config.client_side_validation && app_ids.nil?
        fail ArgumentError, "Missing the required parameter 'app_ids' when calling TagApiControllerApi.get_tag_names_using_get"
      end
      # resource path
      local_var_path = '/spm-reports/api/v3/apps/{appIds}/tagNames'.sub('{' + 'appIds' + '}', app_ids.to_s)

      # query parameters
      query_params = {}
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'metrics'] = opts[:'metrics'] if !opts[:'metrics'].nil?
      query_params[:'logs'] = opts[:'logs'] if !opts[:'logs'].nil?
      query_params[:'events'] = opts[:'events'] if !opts[:'events'].nil?
      query_params[:'rum'] = opts[:'rum'] if !opts[:'rum'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagApiControllerApi#get_tag_names_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Gets values for specified tags for the given application identifiers appearing in the given time frame.
    # @param app_ids appIds
    # @param tag tag
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :from from
    # @option opts [Integer] :to to
    # @option opts [BOOLEAN] :metrics metrics (default to true)
    # @option opts [BOOLEAN] :logs logs (default to true)
    # @option opts [BOOLEAN] :events events (default to false)
    # @option opts [BOOLEAN] :rum rum (default to true)
    # @return [Object]
    def get_using_get1(app_ids, tag, opts = {})
      data, _status_code, _headers = get_using_get1_with_http_info(app_ids, tag, opts)
      data
    end

    # Gets values for specified tags for the given application identifiers appearing in the given time frame.
    # @param app_ids appIds
    # @param tag tag
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :from from
    # @option opts [Integer] :to to
    # @option opts [BOOLEAN] :metrics metrics
    # @option opts [BOOLEAN] :logs logs
    # @option opts [BOOLEAN] :events events
    # @option opts [BOOLEAN] :rum rum
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def get_using_get1_with_http_info(app_ids, tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagApiControllerApi.get_using_get1 ...'
      end
      # verify the required parameter 'app_ids' is set
      if @api_client.config.client_side_validation && app_ids.nil?
        fail ArgumentError, "Missing the required parameter 'app_ids' when calling TagApiControllerApi.get_using_get1"
      end
      # verify the required parameter 'tag' is set
      if @api_client.config.client_side_validation && tag.nil?
        fail ArgumentError, "Missing the required parameter 'tag' when calling TagApiControllerApi.get_using_get1"
      end
      # resource path
      local_var_path = '/spm-reports/api/v3/apps/{appIds}/tags'.sub('{' + 'appIds' + '}', app_ids.to_s)

      # query parameters
      query_params = {}
      query_params[:'tag'] = @api_client.build_collection_param(tag, :multi)
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'metrics'] = opts[:'metrics'] if !opts[:'metrics'].nil?
      query_params[:'logs'] = opts[:'logs'] if !opts[:'logs'].nil?
      query_params[:'events'] = opts[:'events'] if !opts[:'events'].nil?
      query_params[:'rum'] = opts[:'rum'] if !opts[:'rum'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagApiControllerApi#get_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Gets values for specified tags for the given application identifiers appearing in the given time frame.
    # @param app_ids appIds
    # @param tag tag
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :from from
    # @option opts [Integer] :to to
    # @option opts [BOOLEAN] :metrics metrics (default to true)
    # @option opts [BOOLEAN] :logs logs (default to true)
    # @option opts [BOOLEAN] :events events (default to false)
    # @option opts [BOOLEAN] :rum rum (default to true)
    # @return [Object]
    def get_using_get2(app_ids, tag, opts = {})
      data, _status_code, _headers = get_using_get2_with_http_info(app_ids, tag, opts)
      data
    end

    # Gets values for specified tags for the given application identifiers appearing in the given time frame.
    # @param app_ids appIds
    # @param tag tag
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :from from
    # @option opts [Integer] :to to
    # @option opts [BOOLEAN] :metrics metrics
    # @option opts [BOOLEAN] :logs logs
    # @option opts [BOOLEAN] :events events
    # @option opts [BOOLEAN] :rum rum
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def get_using_get2_with_http_info(app_ids, tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagApiControllerApi.get_using_get2 ...'
      end
      # verify the required parameter 'app_ids' is set
      if @api_client.config.client_side_validation && app_ids.nil?
        fail ArgumentError, "Missing the required parameter 'app_ids' when calling TagApiControllerApi.get_using_get2"
      end
      # verify the required parameter 'tag' is set
      if @api_client.config.client_side_validation && tag.nil?
        fail ArgumentError, "Missing the required parameter 'tag' when calling TagApiControllerApi.get_using_get2"
      end
      # resource path
      local_var_path = '/spm-reports/api/v3/apps/{appIds}/metrics/filters'.sub('{' + 'appIds' + '}', app_ids.to_s)

      # query parameters
      query_params = {}
      query_params[:'tag'] = @api_client.build_collection_param(tag, :multi)
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'metrics'] = opts[:'metrics'] if !opts[:'metrics'].nil?
      query_params[:'logs'] = opts[:'logs'] if !opts[:'logs'].nil?
      query_params[:'events'] = opts[:'events'] if !opts[:'events'].nil?
      query_params[:'rum'] = opts[:'rum'] if !opts[:'rum'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagApiControllerApi#get_using_get2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
